h2 {
  margin-top: 40px;
}

h3 {
  margin-top: 0px;
}

.app {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  position: absolute;
  height: 100%;
}

.app-column {
  position: relative;
  text-align: center;
}

.app-header {
  font-size: calc(10px + 2vmin);
  margin: 0px 20px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.app-header.home {
  height: 100%;
}

.nav {
  height: 48px;
}

.nav-link {
  font-size: 20px;
  margin: 0px 20px;
}

.home.container {
  height: calc(100% - 48px);
  overflow-y: hidden;
  position: relative;
}

.home.simon {
  height: 300px;
}

.drawing {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 3;
  animation: dash 3s ease-out forwards;
}

.drawing.sun {
  stroke-width: 2;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation:  dash 3s ease-in forwards;
  animation-delay: 0s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

a {
  outline: none;
}

.me-img {
  width: 300px;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .me-img {
    width: 200px;
  }
}

ul.work-list {
  text-align: left;
  padding-left: 20px;
}

ul.work-list li {
  margin-bottom: 20px;
}

ul.more-list {
  text-align: center;
  margin-left: -10px;
  padding-left: 0px;
}

ul.more-list li {
  list-style: none;
  margin-bottom: 10px;
}
