@font-face {
  font-family: 'opensans';
  src: url('../assets/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'basic';
  src: url('../assets/basis33.ttf') format('truetype');
}

body {
  font-family: opensans;
  margin: 0;
  width:100%;
  overflow-x: hidden;
  display: flex;
}

h1 { font-weight: 100; }
h2 { font-weight: 100; }
h3 { font-weight: 100; }
h4 { font-weight: 100; }
h5 { font-weight: 100; }

p {
  font-size: 22px;
}

li {
  font-size: 22px;
  list-style: circle;
}
